@page "/funcionariodetails"
@page "/funcionariodetails/{id:int}"
@using Model
@using Interfaces
@inject IFuncionarioService FuncionarioService
@inject NavigationManager NavigationManager





<EditForm Model="@funcionario">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>Novo Funcionário </h3>

            <table class="d-lg-table-cell table-hover table table-responsive ">
                <tr>
                    <td>Nome:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Nome" placeholder="Nome completo" /> </td>
                </tr>

                <tr>
                    <td>Endereço:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Endereco" placeholder="Endereço" /> </td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Cpf" placeholder="XXX.XXX.XXX-XX" /> </td>
                </tr>
                <tr>
                    <td>Telefone:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Telefone" placeholder="(XX)XXXXX-XXXX" /> </td>
                </tr>
                <tr>
                    <td>Cidade:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Cidade" placeholder="Cidade" /> </td>
                </tr>
                <tr>
                    <td>Estado:</td>
                    <td>
                        <select class="form-select alert-dark" aria-label="Default select example" @bind="funcionario.Estado">
                            <option selected>Estados</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>


                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Áreas:</td>
                    <td>
                        <select class="form-select alert-dark" aria-label="Default select example" @bind="funcionario.Area">
                            <option selected>Áreas</option>
                            <option value="Diretoria">Diretoria</option>
                            <option value="Contabil">Contábil</option>
                            <option value="Fiscal">Fiscal</option>
                            <option value="Pessoal">Pessoal</option>
                            <option value="Administrativa">Administrativa</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Cargo:</td>
                    <td><input class="alert-dark" type="text" @bind="funcionario.Cargo" placeholder="Função na empresa" /> </td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input class="alert-dark" type="email" @bind="funcionario.Email" placeholder="email@gmail.com" /> </td>
                </tr>

                <tr>
                    <td colspan="2" style="text-align:center">
                        <input type="submit" class="btn btn-primary" value="Salvar" @onclick="SaveFuncionario" />
                        <input type="button" class="btn btn-primary" value="Cancelar" @onclick="CancelFuncionario" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int id { get; set; }



    Funcionario funcionario = new Funcionario();

    protected void CancelFuncionario()
    {
        NavigationManager.NavigateTo("/funcionariolist");
    }

    protected async Task SaveFuncionario()
    {
        await FuncionarioService.SaveFuncionario(funcionario);

        NavigationManager.NavigateTo("/funcionariolist");
    }

    protected override async Task OnInitializedAsync()
    {
        if(id == 0)
        {

        }
        else
        {
            funcionario = await FuncionarioService.GetDetails(id);
        }

    }


}
